@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

body {
	background-color: #2e3033;
	color: #f0f0f0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

img.logo {
	padding: 25px 0 0 0;
	width: 150px;
}

a:link {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto;
	font-weight: 500;
	color: #e9ccff;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
}

p {
	font-family: Roboto;
	font-weight: 300;
	text-align: center;
	font-size: 1em;
}

p {
	margin-right: 5%;
	margin-left: 5%;
}

th {
	color: #e9ccff;
}

.addForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.centered-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.extraspace {
	margin-bottom: 3em;
}
.formBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 95vw;
}

.form-title {
	color: indigo;
	margin: 0 0 1em 0;
}

.indent {
	margin-left: 7%;
	margin-right: 7%;
}

.inputBoxes {
	width: 12vw;
	margin-right: 1em;
}

.item-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
}

.item-form-box {
	max-width: 75%;
	padding: 3%;
}

.MUItable {
	border-bottom: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top: 4vh;
	margin-bottom: 4vh;
	padding: 3%;
}
